<nav class="footer footer-default border-custom" role="navigation"
	ng-controller="FooterController">
	<div class="container">

		<div class="row">
			<section class="col-xs-12">
				<div class="footer-top pt20">
					<div class="row">
						<div class="col-xs-8">
							<p>Stanimir Pehlivanov personal web space.</p>
							<p>2015 Stanimir Pehlivanov</p>
						</div>
						<div id="contact" class="col-xs-4">
							<div class="row">
								<div class="phone group">
									<span class="icon"></span>
									<div class="details">
										<p>
											Contact <strong>1-347-225-3079</strong>
										</p>

									</div>

								</div>
								<div class="email group last">
									<span class="icon"></span>
									<div class="details">

										<p>
											Email:<a href="stanimir.pehlivanov@gmail.com"
												title="Contact Form" mail>Stanimir.Pehlivanov@gmail.com</a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>



	</div>
</nav>
