

<div ng-controller="LogInModalCtrl">
    <div type="text/ng-template" id="modals/sign-in-modal.html">
<div class="modal-content">
<!-- 			<div class="modal-header"> -->
<!-- 				            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&amp;times;</button> -->
<!-- 				<h4 class="modal-title" id="myModalLabel">Register</h4> -->
<!-- 			</div> -->
			<div class="modal-body ">



			<main ng-controller="BaseFormCtrl">

			        <tt-error-messages extra-styles="access-screen"></tt-error-messages>
			
			        <div class="login-container">
			            <form ng-submit="onLogin()" name="form" class="pure-form login-form" novalidate ng-controller="LoginCtrl">
			                <fieldset class="pure-group">
			                    <legend>Log In</legend>
			                    <div class="form-field">
			                        <input type="text" ng-focus="focus('username')"  ng-blur="blur('username')" ng-model="vm.username"
			                               name="username" class="pure-input-1" placeholder="Username" required ng-minlength="6">
			
			                        <div class="error-messages" ng-show="isMessagesVisible('username')" ng-messages="form.username.$error" ng-cloak>
			                            <div ng-message="required">The username is mandatory</div>
			                            <div ng-message="minlength">must have minimum 6 characters</div>
			                        </div>
			                    </div>
			                    <div class="last-form-field">
			                        <input type="password" ng-focus="focus('password')"  ng-blur="blur('password')" ng-model="vm.password"
			                               name="password" class="pure-input-1" placeholder="Password" required ng-minlength="6"
			                               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}">
			                        <div class="error-messages" ng-show="isMessagesVisible('password')" ng-messages="form.password.$error" ng-cloak>
			                            <div ng-message="required">The password is mandatory</div>
			                            <div ng-message="minlength">must have minimum 6 characters</div>
			                            <div ng-message="pattern">At least one number and uppercase</div>
			                        </div>
			                    </div>
			                </fieldset>
			
			                <button type="submit" class="pure-button pure-input-1 pure-button-primary">Log In</button>
			                <a class="new-user-link" ng-controller="RegisterModalCtrl"  ng-click="cancel();open()">New user?</a>
			                
<!-- 			                <li ng-controller="RegisterModalCtrl"><a  ng-click="open()" >Register</a></li> -->
			
			            </form>
			        </div>
			
			    </main>

			</div>




			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
				<button type="button" ng-click="ok()" class="btn btn-primary">Register</button>
			</div>
		</div>
    </script>

</div>




